@CHARSET "ISO-8859-1";

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.thumbnail img{
   height:180px;
                } 
<<<<<<< HEAD
@media screen and (max-width: 768px) {
  
  tr {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  td,
  th {
    display: block;
    width: 33.333333333333%;
    font-size: 20px;
  }
  th:first-child,
  td:first-child {
    background: #efefef;
    width: 100%;
  }
  th:first-child {
    display: none;
  }
}

.panel-default >.panel-heading {
   background-image: linear-gradient(to bottom, #10100E 0%, #10100E 100%);
   color : #9d9d9d;
   font-weight : bold;
}
.panel-default >.panel-heading > .panel-title {
    color : #9d9d9d;
   font-weight : bold;
}
.panel-default >.panel-heading : hover{
   background-image: linear-gradient(to bottom, #10100E 0%, #10100E 100%);
   color : #fff;
   font-weight : bold;
}
.panel-default >.panel-heading > .panel-title : hover {
    color : #fff;
   font-weight : bold;
}

.collapsing {
    transition: height 0.6s;
}

.notify-img{
	width: 50px;
	height: 50px;
}
.notify-div{
	color: white;
	background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
}
.notify-content{
	padding-left: 60px;
	padding-top: 12px;
}


/* #########EXPAT#### */
body {
          padding-top: 50px;
          position: relative;
      }
      
      pre {
          tab-size: 8;
      }
      
      @media screen and (max-width: 768px) {
          .side-collapse-container{
              width:100%;
              position:relative;
              left:0;
              transition:left .4s;
          }
          .side-collapse-container.out{
              left:200px;
          }
          .side-collapse {
              top:50px;
              bottom:0;
              left:0;
              width:200px;
              position:fixed;
              overflow:hidden;
              transition:width .4s;
          }
          .side-collapse.in {
              width:0;
          }
      }
      
      
/* Sticky footer styles
-------------------------------------------------- */


/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 10px 15px 0;
}
#footer{
	margin-bottom: 100px;
}
#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}




#bottomNav {
	padding:10px;
}
#bottomNav a {
    font-size:12pt;
    color:#ddd;
    text-decoration:none;
}
#bottomNav a:hover {
    color:#fff;
}
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }